.layout {
  width: 100vw;
  display: flex;
  justify-content: center;
  user-select: none;

  .header {
    height: 100%;
    position: relative;
    width: 275px;
    z-index: 4;

    @media only screen and (max-width: 1282px) {
      width: 88px;
    }
  }

  .main {
    display: flex;
    width: 990px;
    justify-content: space-between;
    overflow: hidden;
  }

  @media only screen and (max-width: 1116px) {
    .main {
      width: 920px;
    }
  }

  @media only screen and (max-width: 1026px) {
    .main {
      max-width: 600px;
      flex: 1
    }
  }
}