.box {
  padding: 10px;
  margin: auto 0 12px 0;
  border-radius: 99px;
  transition: all var(--fade);
  display: flex;
  cursor: pointer;
  align-items: center;
  width: 100%;

  &:hover {
    background-color: var(--c-nav-hover);
  }

  .info {
    display: flex;
    flex-direction: column;
    margin: 0 12px;
    text-align: start;
    max-width: 135px;

    .name {
      font-size: 15px;
      line-height: 20px;
      font-weight: 700;
      color: var(--c-text-color);
      max-width: 135px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .slug {
      font-size: 15px;
      line-height: 20px;
      font-weight: 400;
      overflow-wrap: break-word;
      color: var(--c-gray);
      max-width: 135px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .button {
    margin-left: auto;
    display: flex;
    border: none;
    background: none;
    cursor: pointer;

    svg {
      fill: var(--c-text-color);
      font-size: 19px;
    }
  }

  @media only screen and (max-width: 1282px) {
    width: 59px;

    .info,
    svg {
      display: none;
    }

  }
}