:root {
  --c-primary: #fff;
  --c-theme: rgba(29, 161, 242, 1);
  --c-theme-10: rgba(29, 161, 242, 0.1);
  --c-text-color: #000;
  --c-border-color: rgb(230, 236, 240);
  --c-gray: #6e767d;
  --c-dark-gray: #202327;
  --fade: 120ms;
}

.dim:root {
  --c-primary: rgb(21, 32, 43);
  --c-text-color: #fff;
  --c-border-color: #2f3336;
  --c-gray: #6e767d;
  --c-dark-gray: #202327;
}

.dark:root {
  --c-primary: #000;
  --c-text-color: #fff;
  --c-border-color: #2f3336;
  --c-gray: #6e767d;
  --c-dark-gray: #202327;
}

html,
body {
  font-size: 15px;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--c-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  font: inherit;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

.titleBold {
  font-size: 19px;
  font-weight: 400;
}