.main {
  height: 100%;

  .content {
    width: 100%;
    position: relative;

    .main {
      margin-top: 53px;
    }
  }

  @media screen and (max-width: 768px) {
    .content {
      .title {
        width: 100%;
        position: relative;
      }
    }
  }
}